version: "3.9"

services:
  app:
    build: ./app
    container_name: flask_app
    restart: always
    environment:
      - ENV=prod
      - APP_VERSION=local

  nginx:
    build: ./nginx
    container_name: nginx_proxy
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - app
