script: |
  set -e
  docker pull ${{ secrets.DOCKERHUB_USERNAME }}/flask-cicd-app:${{ github.sha }}

  mkdir -p ~/deploy
  cd ~/deploy

  cat > docker-compose.yml <<EOF
  version: "3.9"
  services:
    app:
      image: ${{ secrets.DOCKERHUB_USERNAME }}/flask-cicd-app:${{ github.sha }}
      container_name: flask_app
      restart: always
      environment:
        - ENV=prod
        - APP_VERSION=${{ github.sha }}

    nginx:
      image: nginx:alpine
      container_name: nginx_proxy
      restart: always
      ports:
        - "80:80"
      depends_on:
        - app
      volumes:
        - ./nginx.conf:/etc/nginx/nginx.conf:ro
  EOF
  ...

